<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create</title>
    {%load static%}
    <link rel="stylesheet" href="{% static 'css/create.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.6/build/pure-min.css" integrity="sha384-Uu6IeWbM+gzNVXJcM9XV3SohHtmWE+3VGi496jvgX1jyvDTXfdK+rfZc8C1Aehk5" crossorigin="anonymous">
    <link rel="icon" href="https://cdn.iconscout.com/icon/premium/png-512-thumb/man-listening-music-1652772-1401150.png">

</head>
<body>
    <div class="wrapper">
        <div id="title">
            <h1>Create a group</h1>
        </div>
        <div id="errors">
            {% if messages %}
            <ul>
                {% for message in messages %}
                    <li>{{ message }}</li>
                    {% endfor %}
                    </ul>
            {% endif %}
        </div>
        <div  id="skip-big" class="new-menu">
            <label for="toggle">
                <i class="fas fa-bars hamburger"></i>
            </label>
            <input type="checkbox" id="toggle" name="toggle">
                <nav class="navigation--responsive">
                    <ul>
                        <li>
                            <a href="/dashboard" class="pure-menu-link">Home</a>
                        </li>
                        <!-- <li>
                            <a href="/new" class="pure-menu-link">Create group</a>
                        </li> -->
                        <li>
                            <a href="/myGroups" class="pure-menu-link">View my groups</a>
                        </li>
                        <li>
                            <a href="/allGroups" class="pure-menu-link">View other groups</a>
                        </li>
                        <li>
                            <a href="/logout" class="pure-menu-link">Log Out</a>
                        </li> 
                    </ul>
                </nav>
        </div>
        <div  id="skip-mobile" class="pure-menu pure-menu-horizontal pure-menu-scrollable" id="main_table">
            <ul class="pure-menu-list">
                <li class="pure-menu-item">
                    <a href="/dashboard" class="pure-menu-link">Home</a>
                </li>
                <li class="pure-menu-item">
                    <a href="/myGroups" class="pure-menu-link">View my groups</a>
                    <!--     <a href="/myGroups/{{x.name}}">View my groups</a> -->
                </li>
                <li class="pure-menu-item">
                    <a href="/allGroups" class="pure-menu-link">View other groups</a>
                    <!--     <a href="/allGroups/{{x.name}}">View all groups</a> -->
                </li>
                <li class="pure-menu-item">
                    <a href="/logout" class="pure-menu-link">Log Out</a>
                </li>
        </div>
        <div class="create-form">
            <form action="/create" method="POST">
                {% csrf_token %}
                <div class="form-group">
                    <label id="label-name"class="labels"for="group_name">Name (Name of group will be permanent)</label>
                    <input id="input-name"type="text" name="name" placeholder="Name of group">
                </div>
                <div class="form-group">
                    <label class="labels" id="label-genre" for="genre">Genre</label>
                    <input id="input-genre" type="text" name="genre" placeholder="What genre is it for?!">
                </div>
                <div class="form-group">
                    <label id="label-day"class="labels" for="dayWeek"><span title="What day of the week should the group meet?!">Meeting Day</span></label>
                    <select id="input-day" name="day" id="dayWeek">
                        <option value="sunday" selected>Sunday</option>
                        <option value="monday">Monday</option>
                        <option value="tuesday">Tuesday</option>
                        <option value="wednesday">Wednesday</option>
                        <option value="thursday">Thursday</option>
                        <option value="friday">Friday</option>
                        <option value="saturday">Saturday</option>
                    </select>
                <div class="form-group">
                    <label class="labels" for="time"><span title="What time is best?!"></span>Meeting Time</span></label>
                    <input id="input-time" type="time" name="time">
                </div>
                <div class="form-group">
                    <label id="label-desc" class="labels" for="group_desc">Description</label>
                    <textarea id="input-desc"name="desc" cols="30" rows="10" placeholder="How would you describe the group? or What do you expect from members?"></textarea>
                </div>
                <div class="form-group">
                    <label id="label-rules" class="labels" for="group_rules">Rules</label>
                    <textarea id="input-rules"name="rules" cols="30" rows="10" placeholder="Ex: NSFW, MATURE, Friendly, No profanity, etc"></textarea>
                </div>
                <div class="form-group">
                    <input type="submit" id="create-btn"class="btn-primary" value="Create">
                </div>
                <div>
                    <a id="cancel-tag"href="/dashboard">Cancel |</a>
                </div>
            </form>             
        </div>
        

    </div>
</body>
<script defer src='https://use.fontawesome.com/releases/v5.0.6/js/all.js'></script>
</html>