<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="https://cdn.iconscout.com/icon/premium/png-512-thumb/man-listening-music-1652772-1401150.png">
    <title>Bye</title>
</head>
<script>
    window.setTimeout(function () {
        location.href = "https://www.google.com";
    }, 3000);
</script>
<body>
    <div class="tenor-gif-embed" data-postid="13711125" data-share-method="host" data-width="100%" data-aspect-ratio="1.0"><a href="https://tenor.com/view/peace-out-victory-hand-emoji-peace-sign-air-quotes-peace-gif-13711125">Peace Out Victory Hand Emoji GIF</a> from <a href="https://tenor.com/search/peaceout-gifs">Peaceout GIFs</a></div><script type="text/javascript" async src="https://tenor.com/embed.js"></script>
</body>
</html>
