<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="https://cdn.iconscout.com/icon/premium/png-512-thumb/man-listening-music-1652772-1401150.png">
    <title>Bye</title>
</head>
<script>
    window.setTimeout(function () {
        location.href = "https://www.google.com";
    }, 5000);
</script>
<body>
    <H1>ADIOS!</H1>

    <H1>Tsting commit and merge</H1>
</body>
</html>
