<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/groups.css' %}">
        <title>All Groups!</title>
    </head>
    <body>
        <div class="logout">
            <a href="logout">Logout</a>
            <a href="/dashboard">Back</a>
        </div>
        <div>
            <h5>Hello {{user.username}} ! </h5><br>
            <h2>Welcome to the All Groups Page!</h2>
        </div>
        <div>
            <table>
                <h3>All Groups, except my own: <h3>
                    <tr>
                        <th>Group Host</th>
                        <th>Group Name</th>
                        <th>Group Genre</th>
                        <th>Group Description</th>
                   <!-- <th>Group Member Count</th> -->
                   <!--  <th>Group Rules</th>-->
                        <th>Created At</th>
                        <th>Updated At</th>
                        <th>Delete</th>
                    </tr>
                    {% for allGroups in allGroups %}  <!---x comes from views function -->
                    <tr>
                        <th>{{allGroups.owner}}</th>
                        <th>{{allGroups.name}}</th>
                        <th>{{allGroups.genre}}</th>
                        <th>{{allGroups.desc}}</th>
                        <th>{{allGroups.created_at}}</th>
                        <th>{{allGroups.updated_at}}</th>
                        <th>
                            <a href="/allGroups/{{allGroups.id}}/delete">Remove</a>
                        </th>
                    </tr>
            <!--       {% if allGroups.user.id == request.session.user_id %} -->
                   
                      <!--  {% endif %} -->
                    {% endfor %}
            </table>
        </div>
    </body>
</html>