<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <H1>ADIOS!</H1>
    <h3>test</h3>
    <---!def myGroups(request):
    if not 'user_id' in request.session:
        return redirect("/")

    user = Users.objects.get(id=request.session['user_id'])
    x = Group.objects.filter(owner=user.id)

    context = {
            "x": x,
            "user": user,
    }
    
    return render(request, "myGroups.html", context)--->

</body>
</html>
