<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Group Chat</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>
<body>
    <h1>{{group.name}}</h1>
    <h3>Genre:{{group.genre}}</h3>
    <h3>Group Owner: {{group.this_owner}}</h3>

    <h2>Add A Post!</h2>
    <div>
        <form action="/process_message/{{ group.id }}" method=POST>
            {% csrf_token %}
            <textarea name="mess" id="mess" cols="30" rows="10"></textarea>
            <input type="submit" value='POST'>
        </form>
    </div>
    <h3>Feed</h3>
    <div>
        {% for post in group_messages %}
            <p>{{post.message}}</p>
        {% endfor %}
    </div>
</body>
</html>
