h1, h2, h3, h4, h5{
    text-shadow: 2px 2px 5px blue;
    font-family: "Lucida Console", "Courier New", monospace;
  }

h5 {
  text-align: center;
}

a {
  color:orchid;
}

button {
    background-color:lightslategrey;
    color: blue;
  }

p {
    color:black;
}

body {
    background-color:lightblue;
  }

  table, th, td {
    border: 1px solid olive;
  }

  table {
    width: 60%;
  
  }

th {
    color:black;

}
.main{
    width: 1600px;
    height: 2000px;
    background-color:lavender;
    color: chocolate;
}


.page {
    width: 800x;
    height: 700px;
    background-color:lightblue;
    margin-left: 50px;
    display: inline-block;
    vertical-align: top;
}

.header{
    display: inline-block;
    width: 900px;
}