** {
    padding: 0px;
    margin: 0px;
    /* outline: darkred dotted 2px; */
}

@media only screen and (max-width:480px){
    html {
        scroll-behavior: smooth;
    }
    body{
        width: fit-content;
        height: fit-content;;
    }
    .head {
        position: relative;
        width: fit-content;
        left:30%;
        /* background-color: blue; */
    }
    h1 {
        color: rgb(206, 173, 111);
        opacity: 2;
    }
    .log-in-box{
        -webkit-transition: all 4s ease;
        -moz-transition: all 4s ease;
        -ms-transition: all 4s ease;
        -o-transition: all 4s ease;
        transition: all 4s ease; 
        display: block;
        position: relative;
        top:125px;
        padding: 10%;
        margin: 0%;
        width: 80%;
        left: 10%;
        height: fit-content;
        opacity: .7;
    }
        #sign-in-btn{
            position: relative;
            left: 15%;
            border-radius: 10%;
        }
        #p-sign{
            position: relative;
            left: 45%;
            bottom: 25px;
        }


    .registration-box{
        -webkit-transition: all 4s ease;
        -moz-transition: all 4s ease;
        -ms-transition: all 4s ease;
        -o-transition: all 4s ease;
        transition: all 4s ease; 
        display: block;
        position: relative;
        top: 500px;
        left:5%;
        height: fit-content;
        width: 90%;
        padding:5%;
    }
        #regis-btn {
            position: relative;
            left: 75%;
            border-radius: 10%;
        }
    
    .errors{
        position: relative;
        bottom: 600px;
        color: red;
    }
}
@media screen and (min-width: 481px) {
    html {
        scroll-behavior: smooth;
    }
    body{
        width: fit-content;
        height: fit-content;;
    }
    .head {
        position: relative;
        width: fit-content;
        left:30%;
        /* background-color: blue; */
    }
    h1 {
        color: rgb(206, 173, 111);
        opacity: 2;
    }
    .log-in-box{
        -webkit-transition: all 4s ease;
        -moz-transition: all 4s ease;
        -ms-transition: all 4s ease;
        -o-transition: all 4s ease;
        transition: all 4s ease; 
        display: block;
        position: relative;
        top:125px;
        padding: 10%;
        margin: 0%;
        width: 120%;
        left: 30%;
        height: fit-content;
        opacity: .7;
    }
        #sign-in-btn{
            position: relative;
            left: 15%;
            border-radius: 10%;
        }
        #p-sign{
            position: relative;
            left: 45%;
            bottom: 25px;
        }


    .registration-box{
        -webkit-transition: all 4s ease;
        -moz-transition: all 4s ease;
        -ms-transition: all 4s ease;
        -o-transition: all 4s ease;
        transition: all 4s ease; 
        display: block;
        position: relative;
        top: 800px;
        left: 25%;
        height: 1000px;
        width: 140%;
        padding:5%;
    }
        #regis-btn {
            position: relative;
            left: 85%;
            border-radius: 10%;
        }
    
    .errors{
        position: absolute;
        top: 500px;
        color: red;
    }
}

@media screen and (min-width: 1024px) {
    html {
        scroll-behavior: smooth;
    }
    body{
        width: fit-content;
        height: fit-content;;
    }
    .head {
        position: relative;
        width: fit-content;
        left:30%;
        /* background-color: blue; */
    }
    h1 {
        color: rgb(206, 173, 111);
        opacity: 2;
    }
    .log-in-box{
        -webkit-transition: all 4s ease;
        -moz-transition: all 4s ease;
        -ms-transition: all 4s ease;
        -o-transition: all 4s ease;
        transition: all 4s ease; 
        position: relative;
        top:125px;
        padding: 10%;
        margin: 0%;
        width: 180%;
        left: 300%;
        height: fit-content;
        opacity: .7;
    }
        #sign-in-btn{
            position: relative;
            left: 80%;
            border-radius: 10%;
        }
        #p-sign{
            display: none;
        }


    .registration-box{
        -webkit-transition: all 4s ease;
        -moz-transition: all 4s ease;
        -ms-transition: all 4s ease;
        -o-transition: all 4s ease;
        transition: all 4s ease; 
        display: block;
        position: absolute;
        left: 0px;
        top: 0px;
        height: 1000px;
        width:30%;
        padding:5%;
    }
        #regis-btn {
            position: relative;
            left: 85%;
            border-radius: 10%;
        }
    
    .errors{
        position: absolute;
        left: 500px;
        top: 500px;
        color: red;
    }
}