*{
    padding: 0px;
    margin: 0px;
}
body {
    margin: 0 auto;

    position: relative;
  }
  
  label[for="toggle"] {
    position: fixed;
    top: 25px;
    left: 25px;
    color: black;
    z-index: 6;
    font-size: 3rem;
  }
  
  .navigation--responsive {
    display: none;
  }
  
  #toggle {
    display: none;
  }
  
  svg.hamburger {
    display: none;
  }
@media only screen and (max-width:480px){
    
    #skip-menu{
        display: none;
    }
    #skip-mobile{
        display: none;
    }
    #skip-big{
        display: block;
    }
    svg.hamburger {
        display: block;
    }
    .navigation--responsive {
        display: block;
        background: linear-gradient(to top,  #000000, #9f9f9f);
        width: 200px;
        height: 100vh;
        position: fixed;
        top: -100vh;
        right: 0;
        left: 0;
        bottom: 0;
        margin: 0;
        padding: 0;
        transition: top 1s;
    }
    .navigation--responsive ul {
        display: block;
        list-style: none;
        height: 70vh;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-around;
        margin: 85px 0 0 0;
        padding: 0;
    }
    .navigation--responsive ul li {
        margin: 0;
        padding: 0;
    }
    .navigation--responsive li a {
        padding: 50px 20px 50px 30px;
        text-decoration:none;
        color:black;
        font-family:sans-serif;
    }  
    #toggle:checked ~ .navigation--responsive {
        top: 0vh;
        z-index: +1;
    }
    #main-title{
        display: block;
        position: relative;
        bottom: 100px;
        left: 30%;
    }
    #main-table{
        display: block;
        position: relative;
        width: 95%;
        top: 100px;
        left: 1%;
    }

    /* this is a button to use later in production in case the screens begin to get inresponsive */
    #drag{
        position: relative;
        left: 45%;
        top: 135px;
        z-index: +6;
    }
    #instructionBtn{
        border-radius: 5%;
        width: 190px;
        height: 30px;
    }
/* -----------------------------END----------------------------------------------------- */
}
@media only screen and (min-width:481px){
    #wrapper{
        width: fit-content;
    }
    #skip-menu{
        display: none;
    }
    #skip-mobile{
        display: none;
    }
    #skip-big{
        display: block;
    }
    svg.hamburger {
        display: block;
    }
    .navigation--responsive {
        display: block;
        background: linear-gradient(to top,  #000000, #9f9f9f);
        width: 200px;
        height: 100vh;
        position: fixed;
        top: -100vh;
        right: 0;
        left: 0;
        bottom: 0;
        margin: 0;
        padding: 0;
        transition: top 1s;
    }
    .navigation--responsive ul {
        display: block;
        list-style: none;
        height: 70vh;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-around;
        margin: 85px 0 0 0;
        padding: 0;
    }
    .navigation--responsive ul li {
        margin: 0;
        padding: 0;
    }
    .navigation--responsive li a {
        padding: 50px 20px 50px 30px;
        text-decoration:none;
        color:black;
        font-family:sans-serif;
    }  
    #toggle:checked ~ .navigation--responsive {
        top: 0vh;
        z-index: +1;
    }
    #main-title{
        display: block;
        position: relative;
        bottom:75px;
        left: 25%;
    }
    #main-table{
        display: block;
        position: relative;
        width: 95%;
        top: 100px;
        left: 1%;
    }
/* this is a button to use later in production in case the screens begin to get inresponsive */
    #drag{
        display: none;
        position: relative;
        left: 30%;
        top: 35px;
        width: fit-content;
        z-index: +6;
    }
    #instructionBtn{
        border-radius: 5%;
        width: 190px;
        height: 30px;
    }
/* --------------------END------------------------------------------------ */
}
@media only screen and (min-width:1024px){
    #skip-big{
        display: none;
    }
    #skip-menu{
        display: block;
        position: relative;
        left: 25%;
    }
    #main-title{
        position: relative;
        left: 30%;
    }
    #main-table{
        position: relative;
        left: 15%;
    }
}